.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  margin: 10px;
}

.list-item {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}