.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: solid;
  padding: 20px;
  margin:  20px;
}

.grandparent {
  border-color: blue;
}

.parent {
  border-color: green;
}

.child {
  border-color: red;
}