.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.top-layer {
  margin: 10px;
  display: flex;
  flex-direction: row;
}